body. header, main, footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    text-align: center;
    position: relative;
    margin: 50px 50px 10px 50px;
    font-family: Vivaldi;
    font-size: 50px;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Dumbledor 2 regular';
    font-size: 40px;
    margin: 30px;
    margin-top: 70px;
}

p {
    font-size: 25px;
    font-family: 'Dumbledor 2 regular';
    margin: .8em;
    margin-left: 2em;
    margin-bottom: .5em;
}

/* ul {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    font-family: 'Dumbledor 2 regular';
} */

aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: auto;
    background-color: rgba(221, 160, 221, 0.6);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.calendar1 {
    font-family: 'Dumbledor 2 regular';
    font-size: 1.5em;
    position: fixed;
    top: 0;
    right: auto;
    width: 349.9px;
    height: 100%;
    background-color: rgba(221, 160, 221, 0.6);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin: 0px;
    padding-top: 3.5em;
    /* padding: 20px; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* box-sizing: border-box; */
    /* position: fixed; */
    /* margin: 5px; */
    /* left: 0px; */
}

.details, .details1, .details2 {
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
    padding-top: 0px;
    font-family: 'Dumbledor 2 regular';
}

.details1, .details2 {
    margin-top: -20px;
    padding-top: 0px;
    padding-bottom: 0em;
}

.details0 {
    /* font-family: 'Dumbledor 2 regular'; */
    margin-top: 0px;
    margin-inline: 0px;
    padding-top: 3.5em;
}

.plans {
    text-align: left;
    margin-left: 0;
    padding-left: .35em;
    padding-bottom: 1em;
}

/* li {
    font-size: 25px;
    padding-bottom: 1em;
    padding-left: .6em;
    font-family: 'Dumbledor 2 Regular';
    /* margin-bottom: .5em; */

body {
    height:100vh;
    overflow: hidden;
}
section {
    height: 100vh;
}

h3 {
    text-align: center;
    position: relative;
    /* margin: 50px 50px 10px 50px; */
    font-family: 'Dumbledor 2 regular';
    font-size: 60px;
    padding-inline: 1em;
    color: white;
    letter-spacing: 5px;
}
/* 
.calendar {
  position: relative;
  perspective: 1000px; /* Adds depth to the flip */
  /* transform-style: preserve-3d; */
  /* transition: transform 0.9s;
  cursor: pointer;
  width: 100%;
  height: 100%;
  /* Crucial for nested 3D elements */


/* .front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; Hides the reverse side of each face
  top: 0;
  left: 0;
} */

/* .back {
  transform: rotateY(180deg); /* Pre-flips the back face */

