header, body, main, footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

main {
    /* background-image: url('../images/Pretty\ Flowers\ 2.jpg'); */
    background-size: contain;
    background-position: center;
}

* {
  box-sizing: border-box;
}

.item {
  width: 440px;
  height: 170px;
  margin: 100px auto;
  padding-top: 1px;
  padding-bottom: 40px;
  padding-inline: 10px;
  background-color:plum;
  background-color: rgba(221, 160, 221, 0.6);
  text-shadow: 2px 4px 5px rgb(228, 184, 249);
  box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color:indigo;
  font-size: 1.5em;
  font-family: 'Dumbledor 2 regular';
}

h2 {
    position: relative;
    text-align: center;
    margin: 100px auto;
    padding-top: 40px;
    padding-bottom: 0px;
    font-size: 4em;
    color:rgb(64, 4, 94);
    text-shadow: 5px 1px 2px rgb(245, 214, 252);
    font-family: 'Vivaldi';
}

footer {
    text-align: right;
    position: fixed;
    /* background-color: rgba(221, 160, 221, 0.3); */
    height: 1em;
    bottom: 2em;
    right: .8em;
    color:rgb(255, 255, 255);
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px rgb(22, 3, 27);
              /* top right bottom */
}